<div id="heraldPartake-listHistoryDiv" class="heraldPartake-listHistoryDiv">
  <div
    id="heraldPartake-listHistoryContainer"
    class="heraldPartake-listHistoryContainer"
  >
    <div
      id="heraldPartake-listHistoryValue"
      class="heraldPartake-listHistoryValue"
    ></div>
  </div>
  <div
    id="heraldPartake-collapseButtonContainer"
    class="heraldPartake-collapseButtonContainer"
  >
    <i class="fa-solid fa-caret-down"></i>
  </div>
  <div
    id="heraldPartake-historyTooltip"
    class="heraldPartake-historyTooltip"
  ></div>
</div>
